<div>Otázka:</div>

{% if choice %}
<br>
<p>Poslední vote byl: {{ choice }}, otázka: {{ question }}</p>
{% endif %}

<br>

{% for q in questions %}
<div>{{ q.question_text }}</div>
<div>
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input style="display:none" name="question" value="{{ q.pk }}">
    <input type="number" name="choice" min="1" max="100" />
    <input type="submit" value="Vote">
    </form>
</div>
{% endfor %}

<br>
<br>
<button><a href={% url 'results' %} style="text-decoration:none">Results</a></button>