<h1>Otázky:</h1>

{% if choice %}
<p>Poslední vote byl: {{ choice }}, otázka: {{ question }}</p>
{% endif %}

<hr>

{% for q in questions %}
<div style="font-weight:bold">{{ q.question_text }}</div>
<div>
  <br>
  <div>Manuální zadávání hodnot:</div>
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input style="display:none" name="question" value="{{ q.pk }}">
    <input type="number" name="choice" min="1" max="100" />
    <input type="submit" value="Hlasovat">
    </form>

    <div>Přidat x random odpovědí od 1 do 100:</div>
  <form action="{% url 'random' q.pk %}" method="post">
    {% csrf_token %}
    <div>Kolik odpovědí?</div><input type="number" name="choice" min="1" max="1000" />
    <input type="submit" value="Přidat">
    </form>
</div>

<div>
  <form action="{% url 'results' q.pk %}" method="post">
    {% csrf_token %}
    <select name="choice" id="type-of-graph">
      <option value="hist">hist</option>
      <option value="boxplot">boxplot</option>
    </select>
    <input type="submit" value="Výsledky">
    </form>
</div>
<br>
<hr>
{% endfor %}

<br>
<p>Odstranit všechny choices:</p>
<button><a href={% url 'delete_all_choices' %} style="text-decoration:none">odstranit</a></button>